/**
 * Styl pro administraci
 */
 
// importovat bootstrap
@import '../../css/bootstrap/bootstrap.less';

@body-bg: #6aa84f;

@icon-font-path: '../../fonts/';

@navbar-default-bg: lighten(@body-bg, 15%);

@thumbnail-bg: #fff;
@thumbnail-border: #000;
@thumbnail-caption-color: @body-bg;

body {
  padding-top: @navbar-height;
}

.form-group {
  .clearfix;
}

#admin {
  padding-bottom: 30px;
  padding-top: @navbar-height/2;
}

#gallery {
  .clearfix;
  clear: both;

  /* Frame */
  .frame {
    overflow: hidden;
    ul {
      height: 100%;
      margin: 0;
      list-style: none;
      padding: 0;

      li {
        float: left;

        /*&.active {
          color: #fff;
          background: #a03232;
        }
        */

        &:first-child .thumbnail {
          margin-left: 0;
        }
        &:last-child .thumbnail {
          margin-right: 0;
        }
        .thumbnail {
          height: 200px;
          margin-left: @grid-gutter-width/2;
          margin-right: @grid-gutter-width/2;
          position: relative;
          text-align: center;
          width: 200px;

          > .glyphicon {
            color: #000;
            font-size: 140px;
            transition: 500ms;
          }
          .caption {
            bottom: 0px;
            left: 0;
            margin: 0 auto;
            position: absolute;
            right: 0;
            h3 {
              font-family: 'Comic Sans MS';
              font-size: 16px;
              margin-bottom: 5px;
            }
          }
          input {
            position: absolute;
            right: @thumbnail-border-radius;
            top: 0;
          }
        }
      }
    }
  }

  /* Scrollbar */
  .scrollbar {
    margin: 0 0 1em 0;
    height: 2px;
    background: #ccc;
    line-height: 0;
    .handle {
      width: 100px;
      height: 100%;
      background: #292a33;
      cursor: pointer;
      .mousearea {
        position: absolute;
        top: -9px;
        left: 0;
        width: 100%;
        height: 20px;
      }
    }
  }

  /* Pages */
  .pages {
    list-style: none;
    margin: 20px 0;
    padding: 0;
    text-align: center;
    li {
      display: inline-block;
      width: 14px;
      height: 14px;
      margin: 0 4px;
      text-indent: -999px;
      border-radius: 10px;
      cursor: pointer;
      overflow: hidden;
      background: #fff;
      box-shadow: inset 0 0 0 1px rgba(0, 0, 0, .2);

      &:hover {
        background: #aaa;
      }
      &.active {
        background: #666;
      }
    }
  }
}

#rightColumn {
  #albums {
    label {
      background-color: #fff;
      border: 1px solid #000;
      display: block;
      margin-bottom: 0;
      padding: 3px;
    }
    select {
      border: 1px solid #000;
      padding: 0 8px;
      width: 100%;
    }
  }
  #actions {
    background-color: #fff;
    border: 1px solid #000;
    margin-top: 10px;

    a {
      color: #000;
      cursor: pointer;

      span {
        margin-right: 5px;
      }
    }
  }
}

#setup, #gallery, #rightColumn {
  padding-top: 20px;
}

#footer {
  background-color: darken(@body-bg, 10%);
  color: #fff;
  padding-bottom: 20px;
  padding-top: 20px;
  text-align: right;
}


#help {
  opacity: 0;
  transition: opacity 500ms;
  z-index: -1;
  &.active {
    opacity: 1;
    z-index: 1;
  }

  background-color: #fff;
  height: 100%;
  padding-top: @navbar-height;
  position: fixed;
  right: 0;
  top: 0;
  width: 25%;
}
